<p>
  <strong>cue-card-shoe-box works!</strong>
</p>

<STRONG>
<div class="scene">
  <div class="cube show-back">
    <div class="cube__face cube__face--front">FRONT</div>
    <div class="cube__face cube__face--back">BACK</div>
    <div class="cube__face cube__face--right">RIGHT</div>
    <div class="cube__face cube__face--left">LEFT</div>
    <!-- <div class="cube__face cube__face--top">TOP</div> -->
    <!-- <div class="cube__face cube__face--bottom">BOTTOM</div> -->
  </div>
</div>
</STRONG>

<!-- 
<div class="scene">
  <div class="box">
    <div id="faces">
        <div class="box__face box__face--top">top</div>
        <div class="box__face box__face--bottom">bottom</div>
        <div class="box__face box__face--back">back</div>
        <div class="box__face box__face--front">front</div>
        <div class="box__face box__face--left">left</div>
        <div class="box__face box__face--right">right</div>    
    </div>

    <div id="cards">
      <ng-container *ngFor="let cueCard of ccLoaderService.cueCards">
        <app-cue-card [cueCard]="cueCard" class="put-card-in-box" shoeBox="anyStringAtAll"></app-cue-card>
      </ng-container>
    </div>

  </div>
</div>
 -->