@import 'src/styles/base.scss';

// misc
.cc-select {
    color: $primary-font-color;
    background: $tertiary-card-background;
    font-family: $list-font-family;
    font-size: $list-font-size;
}

.cc-option {
    color: $primary-font-color;
    background: $secondary-card-background;
    font-family: $list-font-family;
    font-size: $list-font-size;
}

input { 
  background-color: #656361;
  color: white;
  //width: 400px;
  // width: 60em;
  font-family: $list-font-family;
  font-size: $list-font-size;
}


// front / back box colors

.tp-wrapper {
  perspective: 800px;
  display: flex;
  justify-content: center;
}

.tp-card {
  position: relative;
  width: $card-width-with-padding-px;
  height: $card-height-with-padding-px;
  transform-style: preserve-3d;
  transition: transform 1s;

  &--in-box {
    @extend .tp-card;
    width: $card-in-box-width-px;
    height: $card-in-box-height-px;
  }
}

.tp-card__side {
  width: 100%;
  height: 100%;
  //padding: $card-padding-px;
  position: absolute;
  backface-visibility: hidden;
  color: $primary-font-color;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 20px;
  border: 2px solid white;

  &--in-box {
    @extend .tp-card__side;
    font-size: 12px;
    font-weight: 350;
    border-radius: 14px;
    cursor: default;
    //transform-origin: bottom center;
  }
}
.tp-card__front {
  background: $primary-card-background;
}
.tp-card__back {
  background: #23262d;
  transform: rotateY(179.9deg);
}
.title {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
