<div class="tp-wrapper" [@slider]="pickAnim()" (@slider.done)="doneAnim($event)">
  <!-- <button (click)="toggleFlip()">pretend flip</button>  -->
  <div [ngClass]="shoeBox ? 'tp-card--in-box' : 'tp-card'" (click)="toggleFlip()" [@flipState]="flip">
    <div [ngClass]="shoeBox ? 'tp-card__side--in-box' : 'tp-card__side'" class="tp-card__front">
      <span class="title">Question:</span><br/>
      <span>{{cueCard.question}}</span>
    </div>
    <div [ngClass]="shoeBox ? 'tp-card__side--in-box' : 'tp-card__side'" class="tp-card__back">
      <span class="title">Answer:</span><br/>
      <span>{{cueCard.answer}}</span>
    </div>
  </div>
</div>
