<p>
  quiz works!
</p>

<div class="quiz-wrapper"> 

    <div *ngIf="hasSeenBack">
      <button (click)="nahForgot(quizzingCard)" style="background: #ff4040">nah, try again</button>
      <button (click)="yahRecalled(quizzingCard);" style="background: #40ff40">yup, onwards!</button>
      <!-- cc.hasRecalled = true;  -->
    </div>

  <div *ngIf="!slideAnimDone"> test </div>

  slideAnimDone={{slideAnimDone}}
  <div *ngIf="!slideAnimDone">
    <app-cue-card [cueCard]="quizzingCard" (onBackShown)="showButtons($event)" #cc></app-cue-card>
  </div>
  qc={{quizzingCard}}<br>
  <div class="tp-wrapper">
    <div *ngIf="!quizzingCard" class="tp-card">
      <div class="congratulations-tp-card__side">
        <fa-icon [icon]="['fas', 'grin-squint']"></fa-icon>
      </div>
    </div>
  </div>

  <div *ngIf="!hasSeenBack">
      try to recall ↑ then flip ↻ <br/>
      (cards left: {{cardsLeft}})
  </div>
</div>
