<p>
  quiz works!
</p>

<div class="quiz-wrapper"> 

  <div #cc_container [ngStyle]="{ height: quizzableRemains.length > 0 ? cueCardHeight : 0 }">
    <!-- <ng-template #container [@slider]="pickAnim()" (@slider.done)="doneAnim($event)"></ng-template> -->
    <div #container></div>
  </div>

  <div *ngIf="hasSeenBack" style="text-align: center; margin-top: 20px;">
    <button (click)="nahForgot(quizzingCards[0])" style="background: #ff4040">nah, try again</button>
    <button (click)="yahRecalled(quizzingCards[0]);" style="background: #40ff40">yup, onwards!</button>
  </div>
  
  <div class="tp-wrapper" 
      [ngStyle]="{ height: cueCardHeight }" *ngIf="!quizzingCards">
    <div class="tp-card" [ngStyle]="{'position': 'absolute', 'left': '0', 'right': '0', 'margin': 'auto' }">
      <div class="congratulations-tp-card__side">
        <fa-icon [icon]="['fas', 'grin-squint']"></fa-icon>
      </div>
    </div>
  </div>

  <div *ngIf="!hasSeenBack" style="text-align: center; margin-top: 20px;">
    <div *ngIf="quizzableRemains.length > 0">
        try to recall ↑ then flip ↻ <br/>
        (cards left: {{quizzableRemains.length}})
    </div>
    <div *ngIf="quizzableRemains.length == 0">
        done for now! <!-- keep scrolling  -->
        <!-- ↓ -->
    </div>
  </div>
</div>
