<p>
  <strong>cue-card-shoe-box works!</strong>
</p>

<div class="scene">
  <div class="box show-iso">
    <div id="faces">
        <!-- <div class="box__face box__face--top">top</div> -->
        <div class="box__face box__face--bottom">bottom</div>
        <div class="box__face box__face--back">back</div>
        <div class="box__face box__face--front">front</div>
        <div class="box__face box__face--left">left</div>
        <div class="box__face box__face--right">right</div>
    </div>

    <div id="cards">
      <ng-container *ngFor="let cueCard of (ccLoaderService.cueCards$ | async); let i = index;">
        <app-cue-card [cueCard]="cueCard" class="put-card-in-box" shoeBox="anyStringAtAll" [id]="'bcc'+i" [ccId]="'bcc'+i" #cc></app-cue-card>
      </ng-container>
    </div>

  </div>
</div>

Test: <pre>{{ ccLoaderService.cueCards$ | async | json }}</pre>
