<p>
  <strong>cue-card-entry-form works!</strong>
</p>

<form [formGroup]="ccEntryForm">
  
  <label for="f_question">Question:</label>
    <input formControlName="question" id="f_question">
  <label for="f_answer">Answer:</label>
    <input formControlName="answer" id="f_answer">
  <span *ngIf="question.invalid && (question.touched || answer.touched)">Please input at least either a question or answer.</span>

  <!-- <button (click)="submitHandler(ccEntryForm.value)" [disabled]="ccEntryForm.invalid">Submit</button> -->
  <!-- <button (click)="submitHandler(ccEntryForm.value)" [disabled]="!ccEntryForm.controls['question'].valid && !ccEntryForm.contains['answer'].valid">{{ccLoaderService.cueCardActive === null ? 'Add' : 'Edit'}}</button>  /* INTERESTINGLY, THIS CAUSED ERRORS, BUT BELOW DOESN'T!! */  --> 
  <button (click)="submitHandler(ccEntryForm.value)" [disabled]="!question.valid && !answer.valid">{{ccLoaderService.cueCardActive === null ? 'Add' : 'Save'}}</button>
  <button (click)="clearFormValues()" [disabled]="!question.valid && !answer.valid">Clear</button>
  <button (click)="deleteFromService()" [disabled]="ccLoaderService.cueCards.length <= 0 || ccLoaderService.cueCardActive === null">Delete</button>
  <div *ngIf="successfulSubmissionTimer?.counter.valueOf() > 0">Successfully Saved New Cue Card!</div>

  Test: {{ ccEntryForm.value | json }}

</form>

<hr>
