<p>
  <strong>cue-card-selector works!</strong>
</p>

<ng-container *ngIf="(ccLoaderService.cueCards$ | async) as cueCards">
<ul class="flex">
  <li>
    <select class="cc-select" [(ngModel)]="ccLoaderService.cueCardActive">
      <option *ngFor="let cueCard of cueCards" [ngValue]="cueCard" class="cc-option">{{cueCard.question}}</option>
    </select>
  </li>
  <li>
    <button (click)="editHandler()">Edit Card</button> <button (click)="cancelHandler()">Nevermind</button>
  </li>
  <li>
    Test: {{ccLoaderService.cueCardActive | json}} {{ cueCards.length | json }}
  </li>
</ul>
</ng-container>

<hr>

<app-cue-card-entry-form *ngIf="uglyEditStateTracker"></app-cue-card-entry-form>
