<!-- my intuition says this 'selector' sucks, needs renaming, or merging into 'entry-form' component. 
     the UI would benefit from an overhaul here. 

     i'm beginning to think this comp's purpose was just as proof-of-concept that service DI works.
     at minimum, the UI sucks, i'd want to redo it. 
    
     may rename 'dumbly?' as 'seer'... 
-->

<p>
  <strong>cue-card-selector works!</strong>
</p>

<ng-container *ngIf="(ccLoaderService.cueCards$ | async) as cueCards">
<ul class="flex">
  <li>
    <select class="cc-select" [(ngModel)]="ccLoaderService.cueCardActive">
      <option *ngFor="let cueCard of cueCards" [ngValue]="cueCard" class="cc-option">{{cueCard.question}}</option>
    </select>
  </li>
  <li>
    <button (click)="editHandler()">Open Editor<span *ngIf="ccLoaderService.cueCardActive"> for selected</span></button> <button (click)="cancelHandler()">Close Editor</button>
  </li>
  <li>
    Test: {{ccLoaderService.cueCardActive | json}} {{ cueCards.length | json }}
  </li>
</ul>
</ng-container>

<hr>

<app-cue-card-entry-form *ngIf="uglyEditStateTracker"></app-cue-card-entry-form>
