<p>
  <strong>cue-card-selector works!</strong>
</p>

<select class="cc-select"
  [(ngModel)]="ccLoaderService.cueCardActive" >
  <option *ngFor="let cueCard of cueCards" [ngValue]="cueCard" class="cc-option">{{cueCard.question}}</option>
</select>

{{ccLoaderService.cueCardActive | json}} {{ cueCards.length | json }} 

<button (click)="editHandler()">Edit</button> <button (click)="cancelHandler()">Nevermind</button>

<app-cue-card-entry-form *ngIf="uglyEditStateTracker"></app-cue-card-entry-form>

